:root  {
    /*Basic Colors*/

    --basic-white:#FFFFFF; /*instagram vector*/
    --basic-black:#323232;

    /*Menu colors*/

    --main-menu-button-press-bg:#EDEDED;
    --main-menu-button-press-shadow:#696969;

    --main-menu-window-shadow:rgba(0, 0, 0, 0.4);
    --main-menu-window-separator:rgba(50, 50, 50, 0.2);
    
    --main-menu-list-item-hover:#FBDED7;
    --main-menu-list-item-press:#F6B5A5;
    --main-menu-list-item-onpage:#D07058;

    /*Form colors*/

    --form-text-inactive:#999999;
    --form-feedback-border: rgba(178, 178, 178, 0.52);;
    --form-feedback-border-active:rgba(46, 136, 228, 0.52);;
    --form-border:#D3D3D2;
    --form-window-bg:#F8F7F4;
    --form-feedback--bg:#F9F9F9;
    
    /*Link colors*/

    --link-nobg-hover-press:#FFBC9E;
    --link-whitebg-hover-press:#E84D37;

    /*Button color*/

    --button-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --button-txtshadow:rgba(160, 32, 11, 0.76);
    --button-main-banner-shadow:rgba(172, 16, 0, 0.64);
    --button-sec-shadow:rgba(85, 8, 0, 0.54);
    --button-hover-gradient:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --button-hover-shadow:#AC1000; /*also .catalog-button shadow*/
    --button-press-gradient:linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);;
    --button-press-shadow:#942718;
    --button-login-checkout-shadow:rgba(172, 16, 0, 0.25);

    /*Main banner colors*/

    --banner-blur-first: rgba(239, 224, 218, 0.75);
    --banner-blur-second: rgba(218, 228, 239, 0.75);
    --banner-blur-third: rgba(215, 242, 227, 0.75);
    --main-page-first: #9D8B84;
    --main-page-second: #8996A6;
    --main-page-third: #849D8F;
    --banner-slider-dot-hover:rgba(255, 255, 255, 0.4);

    /*Special colors*/

    --img-bg:#999999;

    --social-border:rgba(255, 255, 255, 0.5);
    --social-bg:rgba(255, 255, 255, 0.8);

    --transparent-elements-fill:rgba(255, 255, 255, 0.2);
    --transparent-checkbox-common:rgba(255, 255, 255, 0.8);
    --transparent-checkbox-inactive:rgba(255, 255, 255, 0.4);

    --catalog-filter-slider-dot-fill:#ABABAB;
    --catalog-priceshadow:rgba(49, 50, 53, 0.5);
    --spam-name:#5A5A5A;

    --cart:#E84D37;
    --cart-separator:#CACAC7;
    --cart-remove-bg:#2C2829;
}
.page-body  {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color:  var(--basic-white);
    background-color: var(--main-page-first);
}

.list-style-none   {
    list-style: none;
}

.articles-new-name:hover,
.map-contacts-tel:hover,
.articles-new-name:focus,
.map-contacts-tel:focus{
    color:var(--link-whitebg-hover-press);
}
.lnk-no-bg:hover,
.lnk-no-bg:focus {
    color:var(--link-nobg-hover-press);
}
                    /*Navigation*/

.page-header    {
    width:1200px;
    margin:0 auto;
}

.header-nav {
    display: grid;
    grid-template-columns: min-content 1fr max-content;   
    outline: 1px solid green;
}

.header-nav a {
    color:      var(--basic-white);
}

.nav-logo-img   {
    margin-top: 9px;
}

.main-nav-list  {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid red;
    margin:  0px;
    padding: 0px;
}

.main-nav-item  {
    margin-top: 23px;
    height:31px;   
    padding: 0px; 
    outline: 1px solid black;
    cursor: pointer;
}

.main-nav-item:first-of-type   {
    margin-left:24px;
}

.main-nav-item:not(:last-of-type)   {
    margin-right:32px;
}

.main-nav-lnk   {
    height:31px;   
    border-radius: 26px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:13px;
    padding-right:13px;
    color:  var(--basic-white);
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
}



.main-nav-lnk:hover:not(.active-page)  {
    background-color:var(--basic-white);
    color:  var(--basic-black);
}

.main-nav-lnk:focus:not(.active-page)  {
    color:  var(--basic-black);
    background-color:var(--basic-white);
    box-shadow:  inset 0px 2px 1px var(--main-menu-button-press-shadow);
}   

.main-nav-lnk.active-page  {
    cursor:default;
    background-color:var(--main-menu-list-item-onpage);
}
.main-nav-item .active-page {

}

.sec-nav-list   {
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    outline: 1px solid yellow;
    margin: 0px;
    padding: 0px;
}

.sec-nav-list li {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:  var(--basic-white);
    text-decoration: none;
    border-radius: 20px;
    box-sizing: border-box;
    background-color:var(--transparent-elements-fill);
    cursor:pointer;
    outline:1px solid orange;
    margin-top:23px;
}

.sec-nav-list li   {
    margin-right:10px;
}

.sec-nav-list li:last-of-type    {
    margin-right:27px;
}

.sec-nav-list li:hover,
.cart:hover a {
    color:  var(--basic-black);
    background-color:var(--basic-white);
}

.search {
    width:32px;
    height:32px;
    border-radius: 50%;
    background:url(../img/sec_nav/search.svg) center center no-repeat;
}

.search:hover,
.search:focus {
    background:var(--basic-white) url(../img/sec_nav/search_black.svg) center center no-repeat;    
}

.login  {
    width: 92px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login::before  {
    margin-right:8px;
    margin-bottom: 3px;
    content:"";
    display:flex;
    width:20px;
    height:19px;
    background-image:url(../img/sec_nav/login.svg);
}

.login:hover::before,
.login:focus::before  {
    background-image:url(../img/sec_nav/login_black.svg);
}

.cart  {
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.cart::before  {
    margin-right:8px;
    content:"";
    display:flex;
    width:21px;
    height:20px;
    background-image:url(../img/sec_nav/cart.svg);
}

.cart:hover::before,
.cart:focus::before  {
    background-image:url(../img/sec_nav/cart_black.svg);
}

.cart a {
    text-decoration: none;
}

.cart.not-empty,
.cart.not-empty a {
    background-color:var(--basic-white);
    color:  var(--basic-black);
}

.cart.not-empty::before {
    margin-right:8px;
    content:url(../img/sec_nav/cart_black.svg);
    display:flex;
    width:21px;
    height:20px;
    background:url(../img/sec_nav/cart_orange.svg) right 1.9px top 4px no-repeat;
}

.header-tel {
    outline: 2px solid white;
    margin-top:2px;
    padding:0px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header-tel-txt {
    outline: 2px solid springgreen;
    margin:0px;
    font-size: 14px;
    line-height: 16px;
}
.header-tel-lnk {
    display: block;
    margin-top: 8px;
    outline: 2px solid violet;
    font-size: 22px;
    line-height: 24px;
    color:var(--basic-white);
    text-decoration:none;
}
                        /*Main*/
.page-main  {
    width:1200px;
    margin: 0px;
    padding:0px;
    margin:auto;
    outline: 2px solid tomato;
}



                     /*Main banner*/


.banner-list    {
    outline:  2px solid yellowgreen;
    margin:0;
    margin-top:-123px;
    padding:0;
}

.banner-item    {
    outline: 2px solid tan;
    position: relative;
    height:716px;
    width:716px;  
    margin:auto;
}

.banner-item.first::before    {  
    display: block;
    content:"";
    position: absolute;
    height:716px;
    width:716px;  
    background:var(--banner-blur-first);
    filter: blur(250px);
    z-index:-1;
}

.banner-item.second::before    {  
    display: block;
    content:"";
    position: absolute;
    height:716px;
    width:716px;  
    background:var(--banner-blur-second);    
    filter: blur(250px);
    z-index:-1;
}

.banner-item.third::before    {  
    display: block;
    content:"";
    position: absolute;
    height:716px;
    width:716px;  
    background:var(--banner-blur-third);
    filter: blur(250px);
    z-index:-1;
}

.banner-img {
    position: absolute;
    width:367px;
    height:582px;
    top:83px;
    left:34px;
    z-index: 2;
}

.sec-banner-img {
    position: absolute;
    width:333px;
    height:523px;
    top:123px;
    left:349px;
    z-index: 1;
}

.banner-name   {
    margin:0;
    position: absolute;
    top:398px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width:672px;
    height:120px;
    font-size: 60px;
    line-height: 60px; /* or 100% */
    text-align: center;
    z-index: 3;
    outline: 2px solid grey;
}

.banner-item:first-child .banner-name  {
    width:648px;
}

.banner-button {
    margin:0px;
    padding:0px;
    position: absolute;
    left:219px;
    bottom:110px;
    z-index:4;
    width: 279px;
    height: 63px;
    box-shadow:  0px 2px 2px var(--button-main-banner-shadow);
    border-radius: 50px;
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0px 2px 5px var(--button-txtshadow);
    letter-spacing: 0.05em;
    
}
.banner-button:hover    {
    box-shadow:  0px 2px 2px var(--button-hover-shadow);
}
.banner-button:focus    {
    box-shadow: inset 0px 2px 2px var(--button-press-shadow);
}


                    /*Buttons*/

.button    {
    background: var(--button-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--basic-white);
    text-decoration:none;
}
.button:hover    {
    background: var(--button-hover-gradient);
}
.button:focus    {
    background: var(--button-press-gradient);
}


.special-button {
    width: 164px;
    height: 46px;
}

.spam-button    {
    width: 130px;
    height: 44px;  
}

.feedback-button    {
    width: 253px;
    height: 43px;
}


.special-button,
.spam-button,
.feedback-button {
    box-shadow:  0px 2px 2px var(--button-sec-shadow);
    border-radius: 26px;
    font-size: 18px;
    line-height: 20px;
    border: none;
    color:var(--basic-white);

}
.special-button:hover,
.spam-button:hover,
.feedback-button:hover    {
    box-shadow:  0px 1px 2px var(--button-hover-shadow);
}
.special-button:focus,
.spam-button:focus,
.feedback-button:focus    {
    box-shadow: inset 0px 2px 2px var(--button-press-shadow);    
    outline: none;
}

.filter-button  {
    color: var(--basic-white);
    /*position: absolute;
    left: 752px;
    top: 281px;*/
    width: 144px;
    height: 36px;
    
    background: var(--transparent-elements-fill);
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;    
}
.filter-button:hover {
    background: var(--basic-white);
    color:var(--basic-black);
    border-radius: 20px;
}
.filter-button:focus {
    background: var(--basic-white);
    color:var(--basic-black);
    border-radius: 20px;
    box-shadow: inset 0px 2px 2px var(--basic-black);
    outline: none;
    border:none;
}

                    /*Special offers*/

.special-offer-section  {
    display: grid;
    grid-template-columns:560px 560px;
    grid-gap:26px;
    margin-top:-69px;
    outline:2px solid blueviolet;
}

.special-button {
    position: absolute;
    right:22px;
    bottom:22px;
}

.special-offer-name {
    font-size: 35px;
    line-height: 41px;
    margin:20px;
}
.special-offer-txt{
    font-size: 18px;
    line-height: 22px;
    margin:20px;
}
.special-offer-element  {
    position: relative;
    z-index: 5;
    width:560px;
    height:229px;
    margin-left:27px;
    border-radius: 16px;
    outline:2px solid brown;
}

.special-offer-element.first  {
    background:url(../img/bg/raspberry.jpg);
}
.special-offer-element.second  {
    background:url(../img/bg/chocko.jpg);
}

                    /*Catalog*/


.catalog-list   {
    padding:0px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:1146px;
    position: relative;

}

.catalog-item   {
    outline:2px solid burlywood;
    width:267px;
    text-align: center;
    
}

.catalog-item-img   {
    width:267px;
    height:267px;
    box-sizing: border-box;
    background: var(--img-bg);
    border-radius:50%;
}

.catalog-item.hit::before   {
    content:url(../img/decorative/hit.svg);
    position: absolute;
    width:61px;
    height:61px;
    border-radius:50%;
    background-color: #FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.catalog-item-price {
    margin: 0px;
    position: absolute;
    top:216px;
    font-size: 45px;
    line-height: 45px; 
    /* or 100% */
    text-shadow: 0px 1px 3px var(--catalog-priceshadow);
    display: flex;
    align-items: center;
}

.catalog-item-price span    {
    font-size: 45px;
    line-height: 45px;/* or 117% */
}

.catalog-item-name  {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    /* or 137% */
    color:var(--basic-white);
}

.bread-item  {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.bread-item-lnk  {
    color:var(--basic-white);
}

.main-header {
    font-size: 35px;
    line-height: 41px;
}

.pages-lnk  {
    display:flex;  
    color:  var(--basic-white);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 50%;
    margin:5px;
    width:26px;
    height:26px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.pages-lnk:hover:not(.active-page)  {
    color:  var(--basic-white);
    box-shadow:inset 0px 0px 0px 16px var(--transparent-elements-fill);
}
.pages-lnk:focus:not(.active-page)  {
    color:  var(--basic-black);
    box-shadow:inset 0px 0px 0px 16px var(--basic-white);
}

                    /*Features*/

.main-feature-section   {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    margin: 40px auto 0 auto;
    width: 1146px;
    height: 306px;
    color:var(--basic-black);
    background: url(../img/bg/waffle.jpg);
    border-radius: 16px;
    padding:24px 23px 36px 20px;
}

.feature-name {
    margin:0px;
    padding:0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px; /* or 125% */

}

.feature-list   {
    margin:0px;
    padding:0px;
    margin-top:21px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
}

.feature-item{
    margin:0px;
    padding:0px;
    display:flex;    
    box-sizing: border-box;
    font-weight: normal;
    width:537px;
    font-size: 16px;
    line-height: 22px;
    outline:2px solid pink;
    /* or 137% */
    align-items: start;
}

.feature-item.icecream::before  {
    margin:0px;
    padding:0px;
    display:flex;
    position:relative;
    top:-9px;
    margin-right: 6px;
    flex:1 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    width:49px;
    height:49px;
    content:"";
    background: url(../img/features/icecream.svg) 14px 7px no-repeat;
    border:2px solid var(--basic-black);
    outline:2px solid turquoise;
}
.feature-item.natural::before  {
    margin:0px;
    padding:0px;
    display:flex;
    position:relative;
    top:-9px;
    margin-right: 6px;
    flex:1 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    width:49px;
    height:49px;
    content:"";
    background: url(../img/features/natural.svg) 14px 8px no-repeat;
    border:2px solid var(--basic-black);
}
.feature-item.best::before  {
    margin:0px;
    padding:0px;
    display:flex;
    position:relative;
    top:-9px;
    margin-right: 6px;
    flex:1 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    width:49px;
    height:49px;
    content:"";
    background: url(../img/features/best.svg) 10px 11px no-repeat;
    border:2px solid var(--basic-black);
}
.feature-item.temp::before  {
    margin:0px;
    padding:0px;
    display:flex;
    position:relative;
    top:-9px;
    margin-right: 6px;
    flex:1 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    width:49px;
    height:49px;
    content:"";
    background: url(../img/features/temp.svg) 16px 9px no-repeat;
    border:2px solid var(--basic-black);
}



                    /*Main articles*/


.article-spam-wrapper   {
    width:1146px;
    margin:40px auto 0px auto;
    display: grid;
    grid-template-columns:560px 560px;
    grid-gap:26px;
}




.main-articles,
.main-articles a  {
    color:var(--basic-black);    
    display: flex;
    align-items: center;
}

.articles-new   {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
}

.articles-new-name  {
    
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
}

.main-articles{
    width:560px;
    height:220px;
    border-radius: 16px;
    background: var(--basic-white);
    background: url(../img/bg/strawberry.jpg);
}

                    /*Spam*/



.main-spam-section  {
    background: var(--basic-white);
    background-image:url(../img/bg/postbg.png);
    width:560px;
    height:220px;
    border-radius: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.spam-wrapper   {
    background: var(--form-window-bg);
    width:548px;
    height:210px;
    border-radius: 16px;
}

.spam-name  {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    display: flex;
    align-items: center;
    color: var(--spam-name);
}

                    /*Map*/

.map-img    {
    background: var(--img-bg);
}
.main-map-section  {
    width:1200px;
    height:430px;
    background:url(../img/map/map.png);
}

.map-contacts-txt   {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */    
    color:var(--basic-black);
    /* display: flex;
    align-items: center; */
}
.map-contacts-txt span,
.map-contacts-txt a  {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    color:var(--basic-black);
    /* display: flex;
    align-items: center; */
    text-decoration:none;
    
}

.map-contacts-container {
    position:absolute;
    left:870px;
    width:303px;
    height:306px;
    background:var(--form-feedback--bg);
    border-radius:16px;
    box-sizing: border-box;
    
    padding:32px 25px 31px 25px;
}

                    /*Footer*/

.footer-docs-lnk {
    color:var(--basic-white);
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */
    display: flex;
    align-items: center;
}

.supply {
    font-weight: bold;
}

.supply::before {
    content:url(../img/decorative/heart.svg);
}

.footer-made-name,
.footer-made-lnk{
    color:var(--basic-white);
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    display: flex;
    align-items: center;
}

.footer-social-img  {
    width:32px;
    height:32px;
    border:2px solid var(--basic-white);
    border-radius:50%;
    opacity:0.8;
    box-sizing: border-box;
}
.footer-social-img:hover,
.footer-social-img:focus  {
    opacity:1;
}

