:root  {
    /*Basic Colors*/

    --basic-white:#FFFFFF; 
    --basic-black:#323232;
    --basic-bg:#E5E5E5;

    /*Menu colors*/

    --main-menu-button-press-bg:#EDEDED;
    --main-menu-button-press-shadow:#696969;

    --main-menu-window-shadow:rgba(0, 0, 0, 0.4);
    --main-menu-window-separator:rgba(50, 50, 50, 0.2);
    
    --main-menu-list-item-hover:#FBDED7;
    --main-menu-list-item-press:#F6B5A5;
    --main-menu-list-item-onpage:#D07058;

    /*Form colors*/

    --form-text-inactive:#999999;
    --form-feedback-border: rgba(178, 178, 178, 0.52);;
    --form-feedback-border-active:rgba(46, 136, 228, 0.52);;
    --form-border:#D3D3D2;
    --form-window-bg:#F8F7F4;
    --form-feedback--bg:#F9F9F9;
    
    /*Link colors*/

    --link-nobg-hover-press:#FFBC9E;
    --link-whitebg-hover-press:#E84D37;

    /*Button color*/

    --button-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --button-txtshadow:rgba(160, 32, 11, 0.76);
    --button-main-banner-shadow:rgba(172, 16, 0, 0.64);
    --button-sec-shadow:rgba(85, 8, 0, 0.54);
    --button-hover-gradient:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --button-hover-shadow:#AC1000; /*also .catalog-button shadow*/
    --button-press-gradient:linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);;
    --button-press-shadow:#942718;
    --button-login-checkout-shadow:rgba(172, 16, 0, 0.25);

    /*Main banner colors*/

    --banner-blur-first: rgba(239, 224, 218, 0.75);
    --banner-blur-second: rgba(218, 228, 239, 0.75);
    --banner-blur-third: rgba(215, 242, 227, 0.75);
    --main-page-first: #9D8B84;
    --main-page-second: #8996A6;
    --main-page-third: #849D8F;
    --banner-slider-dot-hover:rgba(255, 255, 255, 0.4);

    /*Special colors*/

    --img-bg:#999999;

    --social-border:rgba(255, 255, 255, 0.5);
    --social-bg:rgba(255, 255, 255, 0.8);

    --transparent-elements-fill:rgba(255, 255, 255, 0.2);
    --transparent-checkbox-common:rgba(255, 255, 255, 0.8);
    --transparent-checkbox-inactive:rgba(255, 255, 255, 0.4);

    --catalog-filter-slider-dot-fill:#ABABAB;
    --catalog-priceshadow:rgba(49, 50, 53, 0.5);

    --spam-name:#5A5A5A;
    --spam-bg-color-red:rgba(254,158,144,1);
    --spam-bg-color-blue:rgba(146,205,255,1);
    --spam-bg-color-white:rgba(248,247,244,1);



    --cart-fill:#E84D37;
    --cart-black:#343434;
    --cart-separator:#CACAC7;
    --cart-remove-bg:#2C2829;
}
.page-body  {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color:  var(--basic-white);
    background-color: var(--basic-bg);
}

.body-wrapper{
    width: 1200px;
    margin: 0 auto;
    background-color:var(--main-page-first);
}

.list-style-none   {
    list-style: none;
}

.articles-new-name:hover,
.map-contacts-tel:hover,
.articles-new-name:focus,
.map-contacts-tel:focus{
    color:var(--link-whitebg-hover-press);
}
.lnk-no-bg:hover,
.lnk-no-bg:focus {
    color:var(--link-nobg-hover-press);
}
                    /*Navigation*/

.page-header    {
    width:1200px;
    margin:0 auto;
}

.header-wrapper {
    margin:auto 27px;
}

.header-nav {
    display: grid;
    grid-template-columns: min-content 1fr max-content;   
    outline: 1px solid green;
}

.header-nav a {
    color:      var(--basic-white);
}

.nav-logo-img   {
    margin-top: 9px;
    position: relative;
    z-index:6;
}

.main-nav-list  {
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid red;
    margin:  0px;
    padding: 0px;
    margin-left:24px;
}

.main-nav-item  {
    position: relative;
    z-index:6;
    margin-top: 23px;
    height:31px;   
    padding: 0px; 
    outline: 1px solid black;
    cursor: pointer;
}

.main-nav-item:not(:last-of-type)   {
    margin-right:32px;
}

.main-nav-lnk   {
    height:31px;   
    border-radius: 26px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: underline;
    padding-left:13px;
    padding-right:13px;
    color:  var(--basic-white);
    font-size: 16px;
    line-height: 18px;
}



.main-nav-lnk:hover:not(.active-page)  {
    background-color:var(--basic-white);
    color:  var(--basic-black);
}

.main-nav-lnk:focus:not(.active-page)  {
    color:  var(--basic-black);
    background-color:var(--basic-white);
    box-shadow:  inset 0px 2px 1px var(--main-menu-button-press-shadow);
}   

.main-nav-lnk.active-page  {
    cursor:default;
    background-color:var(--main-menu-list-item-onpage);
}
/* .main-nav-item .active-page {

} */

.sec-nav-list   {
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    outline: 1px solid yellow;
    margin: 0px;
    padding: 0px;/* 
    margin-right:27px; */
}

.sec-nav-list li {
    position: relative;
    z-index:6;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color:  var(--basic-white);
    text-decoration: none;
    border-radius: 20px;
    box-sizing: border-box;
    background-color:var(--transparent-elements-fill);
    cursor:pointer;
    outline:1px solid orange;
    margin-top:23px;
    padding:0px 16px;
}

.sec-nav-list li:not(:last-of-type)   {
    margin-right:10px;
}

.svg-search {
outline: 2px solid red;
}

.search {
    padding:0px;
    margin:0px;
    width:32px;
    height:32px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .search .search-img {
    position: absolute;
} 

.search:hover .search-img,
.search:focus .search-img{
    fill:var(--basic-black);
}

.login  {
    width: max-content;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.login:hover .login-img,
.login:focus .login-img {
    fill:var(--basic-black);
} 

.cart,
.cart-lnk   {
    padding:0px;
    margin:0px;
    width: max-content;
    height: 32px;
    display: flex;
}

.cart-lnk   {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    gap: 8px;
}

.sec-nav-list li:hover{
    color:  var(--basic-black);
    background-color:var(--basic-white);
}

.cart:hover .cart-lnk   {
    color:  var(--basic-black);
}

.cart:hover .cart-img   {
    fill:var(--cart-black);
}

.cart.not-empty {
    background-color:var(--basic-white);
}
.cart.not-empty .cart-lnk   {
    color:  var(--basic-black);
}
.cart.not-empty .cart-img   {
    position: relative;
    z-index:9;
    fill:var(--cart-black);
}

.cart.not-empty::before {
    margin-right:8px;
    position:absolute;
    z-index: 8;
    content: "";
    transform:scale(1.3);
    display:flex;
    width:21px;
    height:20px;
    background:url(../img/sec_nav/cart-orange.svg) right 2.5px top 9px no-repeat;
}

.header-tel {
    position: relative;
    z-index:6;
    outline: 2px solid white;
    margin-top:2px;
    padding:0px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header-tel-txt {
    outline: 2px solid springgreen;
    margin:0px;
    font-size: 14px;
    line-height: 16px;
}
.header-tel-lnk {
    display: block;
    margin-top: 8px;
    outline: 2px solid violet;
    font-size: 22px;
    line-height: 24px;
    color:var(--basic-white);
    text-decoration:none;
}
                        /*Main*/
.page-main  {
    width:1200px;
    margin: 0px;
    padding:0px;
    margin:auto;
    outline: 2px solid tomato;
}



                     /*Main banner*/

.banner-section {
    width:1146px;
    margin:0 auto;
}

.banner-list    {
    outline:  2px solid yellowgreen;
    margin:0px;
    margin-top:-123px;
    padding:0px;
}

.banner-item    {
    margin:0px;
    padding:0px;
    outline: 2px solid tan;
    position: relative;
    top:-716px;
    height:716px;
    width:716px;  
    margin:auto;
}

.banner-item.first::before    {  
    display: block;
    content:"";
    position: relative;
    height:716px;
    width:716px;  
    background:var(--banner-blur-first);
    filter: blur(250px);
    z-index:-1;
}

.banner-item.second::before    {  
    display: block;
    content:"";
    position: relative;
    height:716px;
    width:716px;  
    background:var(--banner-blur-second);    
    filter: blur(250px);
    z-index:-1;
}

.banner-item.third::before    {  
    display: block;
    content:"";
    position: relative;
    height:716px;
    width:716px;  
    background:var(--banner-blur-third);
    filter: blur(250px);
    z-index:-1;
}

.banner-img {
    position: relative;
    width:367px;
    height:582px;
    top:83px;
    left:35px;
    z-index: 2;
    outline:2px solid orangered;
}

.sec-banner-img {
    position: relative;
    width:333px;
    height:523px;
    top:61px;
    left:-23px;
    z-index: 1;
    
    outline:2px solid orange;
}

.banner-name   {
    margin:0;
    position: relative;
    top:-184px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 60px;
    line-height: 60px; /* or 100% */
    text-align: center;
    z-index: 3;
    outline: 2px solid grey;
    
}

.banner-item:first-child .banner-name  {
    width:648px;
}

.banner-item:nth-child(2) .banner-name  {
    width:672px;
}

.banner-item:nth-child(3) .banner-name  {
    width:672px;
}

.banner-button {
    margin:0px;
    padding:0px;
    position: relative;
    top:-158px;
    left:219px;
    bottom:110px;
    z-index:4;
    width: 279px;
    height: 63px;
    box-shadow:  0px 2px 2px var(--button-main-banner-shadow);
    border-radius: 50px;
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0px 2px 5px var(--button-txtshadow);
    letter-spacing: 0.05em;
    
}
.banner-button:hover    {
    box-shadow:  0px 2px 2px var(--button-hover-shadow);
}
.banner-button:focus    {
    box-shadow: inset 0px 2px 2px var(--button-press-shadow);
}


                    /*Buttons*/

.button    {
    background: var(--button-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--basic-white);
    text-decoration:none;
}
.button:hover    {
    background: var(--button-hover-gradient);
}
.button:focus    {
    background: var(--button-press-gradient);
}


.special-button {
    height: 48px;
    width:max-content;
    padding:0px 22px;
}

.spam-button    {
    width: 130px;
    height: 44px;  
}

.feedback-button    {
    width: 253px;
    height: 43px;
}


.special-button,
.spam-button,
.feedback-button {
    box-shadow:  0px 2px 2px var(--button-sec-shadow);
    border-radius: 26px;
    font-size: 18px;
    line-height: 20px;
    border: none;
    color:var(--basic-white);

}
.special-button:hover,
.spam-button:hover,
.feedback-button:hover    {
    box-shadow:  0px 1px 2px var(--button-hover-shadow);
}
.special-button:focus,
.spam-button:focus,
.feedback-button:focus    {
    box-shadow: inset 0px 2px 2px var(--button-press-shadow);    
    outline: none;
}

.filter-button  {
    color: var(--basic-white);
    width: 144px;
    height: 36px;
    background: var(--transparent-elements-fill);
    border: 2px solid var(--basic-white);
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;    
}
.filter-button:hover {
    background: var(--basic-white);
    color:var(--basic-black);
    border-radius: 20px;
}
.filter-button:focus {
    background: var(--basic-white);
    color:var(--basic-black);
    border-radius: 20px;
    box-shadow: inset 0px 2px 2px var(--basic-black);
    outline: none;
    border:none;
}

                    /*Special offers*/

.special-offer-section  {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap:26px;
    width:1146px;
    margin:0 auto;
    margin-top:-69px;
    outline:2px solid blueviolet;
}

.special-button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 22px;
    margin-top:42px;
}

.special-offer-name {
    font-size: 35px;
    line-height: 41px;
    margin:20px;
}
.special-offer-txt{
    font-size: 18px;
    line-height: 22px;
    margin:20px;
}
.special-offer-element  {
    position: relative;
    z-index: 5;
    width:560px;
    height:229px;
    border-radius: 16px;
    outline:2px solid brown;
}

.special-offer-element.first  {
    background:url(../img/bg/raspberry.jpg);
}
.special-offer-element.second  {
    background:url(../img/bg/chocko.jpg);
}

                       /* BREADCRUMBS */

.bread-list {
    display:flex;
    flex-wrap: wrap;
    gap:8px;
    margin:0px;
    padding: 0px;
    margin-top: -22px;
    position: relative;
    z-index: 7;
    outline: pink 2px solid;
    width:max-content;
    max-width: 950px;
}

.bread-item  {
    margin:0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

/* .bread-item:not(:last-child)    {
    margin-right: 22px;
} */

.bread-item:not(:first-child)::before {
    content:url(../img/decorative/bread.svg);
    margin-right:6px;
}

.bread-item-lnk  {
    color:var(--basic-white);
}

                    /*Catalog*/

.page-main.catalog  {
    width:1146px;
    margin:0 auto;
}

.catalog-list-section   {
    width:1146px;
    margin:0 auto;
}

.catalog-header {
    margin: 0px;
    padding:0px;
    font-size: 35px;
    line-height: 41px;
}

.catalog-list   {
    padding:0px;
    margin: 40px auto 0px auto;
    display: flex;
    flex-wrap: wrap;

}

.catalog-item   {
    outline:2px solid burlywood;
    width:267px;
    text-align: center;
    margin-right:26px;
    position: relative;
    margin-bottom:40px;
    
}
.catalog-item:nth-child(4n) {
    margin-right:0px;
}

.catalog-item-img   {
    margin:0px;
    width:267px;
    height:267px;
    box-sizing: border-box;
    background: var(--img-bg);
    border-radius:50%;
}

.catalog-item.hit::before   {
    content:url(../img/decorative/hit.svg);
    position: absolute;
    width:61px;
    height:61px;
    border-radius:50%;
    background-color: #FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.catalog-item-price {
    margin: 0px;
    padding:    0px;
    font-size: 45px;
    line-height: 45px; 
    /* or 100% */
    position: relative;
    margin-top: -61px;
    margin-bottom: 27px; 
    text-shadow: 0px 1px 3px var(--catalog-priceshadow);
    display: flex;
    align-items: center;
}

.catalog-item-price span    {
    margin: 0px;
    padding:    0px;
    font-size: 45px;
    line-height: 45px;/* or 117% */
}

.catalog-item-name  {
    margin:0px;
    padding: 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    /* or 137% */
    color:var(--basic-white);
}

 

                            /* PAGES */


.pages-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    outline:white 3px solid;
}

.pages-lnk  {
    display:flex;  
    color:  var(--basic-white);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    border-radius: 50%;
    margin:5px;
    width:26px;
    height:26px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.pages-list::after    {
    content:url(../img/decorative/arrow-small.svg);
    position: relative;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pages-list::before    {
    content:url(../img/decorative/arrow-small.svg);
    transform: rotate(180deg);
    position: relative;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-list.first-page::before    {
    content:url(../img/decorative/arrow-small.svg);
    transform: rotate(180deg);
    opacity:0.2;
    margin-right: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages-lnk.active-page  {
    color:  var(--basic-black);
    box-shadow:inset 0px 0px 0px 16px var(--basic-white);
}

.pages-lnk:hover:not(.active-page)  {
    color:  var(--basic-white);
    box-shadow:inset 0px 0px 0px 16px var(--transparent-elements-fill);
}
.pages-lnk:focus:not(.active-page)  {
    color:  var(--basic-black);
    box-shadow:inset 0px 0px 0px 16px var(--basic-white);
}

.catalog-divider    {
    height: 1px;
    background-color: var(--basic-white);
    margin-top: 30px;
    opacity:0.2;
}

                    /*Features*/

.main-feature-section   {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    width: 1146px;
    height: 306px;
    color:var(--basic-black);
    background: url(../img/bg/waffle.jpg);
    border-radius: 16px;
    padding:24px 23px 36px 20px;
}

.feature-name {
    margin:0px;
    padding:0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px; /* or 125% */

}

.feature-list   {
    margin:0px;
    padding:0px;
    margin-top:21px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
}

.feature-item{
    margin:0px;
    padding:0px;
    display:flex;    
    box-sizing: border-box;
    font-weight: normal;
    width:537px;
    font-size: 16px;
    line-height: 22px;
    outline:2px solid pink;
    /* or 137% */
    align-items: start;
}

.feature-item.icecream::before  {
    margin:0px;
    padding:0px;
    display:flex;
    position:relative;
    top:-9px;
    margin-right: 6px;
    flex:1 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    width:49px;
    height:49px;
    content:"";
    background: url(../img/features/icecream.svg) 14px 7px no-repeat;
    border:2px solid var(--basic-black);
    outline:2px solid turquoise;
}
.feature-item.natural::before  {
    margin:0px;
    padding:0px;
    display:flex;
    position:relative;
    top:-9px;
    margin-right: 6px;
    flex:1 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    width:49px;
    height:49px;
    content:"";
    background: url(../img/features/natural.svg) 14px 8px no-repeat;
    border:2px solid var(--basic-black);
}
.feature-item.best::before  {
    margin:0px;
    padding:0px;
    display:flex;
    position:relative;
    top:-9px;
    margin-right: 6px;
    flex:1 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    width:49px;
    height:49px;
    content:"";
    background: url(../img/features/best.svg) 10px 11px no-repeat;
    border:2px solid var(--basic-black);
}
.feature-item.temp::before  {
    margin:0px;
    padding:0px;
    display:flex;
    position:relative;
    top:-9px;
    margin-right: 6px;
    flex:1 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    width:49px;
    height:49px;
    content:"";
    background: url(../img/features/temp.svg) 16px 9px no-repeat;
    border:2px solid var(--basic-black);
}



                    /*Main articles*/


.article-spam-wrapper   {
    width:1146px;
    margin:40px auto 40px auto;
    display: grid;
    grid-template-columns:560px 560px;
    grid-gap:26px;
}




.main-articles  {
    margin: 0px;
    padding: 0px;
    color:var(--basic-black);    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 15px;
    box-sizing: border-box;
}

.main-articles a {
    color:var(--basic-black);
    outline: 3px solid firebrick;
    margin-left:20px;
    width:51%;
}

.articles-new   {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding: 0px;
    margin: 0px;
    margin:23px 20px 0px 20px;
    outline: 3px solid firebrick;
    /* or 137% */
}

.articles-new-name h2  {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    line-height: 30px;
    /* or 125% */
}

.main-articles{
    width:560px;
    height:220px;
    border-radius: 16px;
    background: var(--basic-white);
    background: url(../img/bg/strawberry.jpg);
}

                    /*Spam*/



.main-spam-section  {
    background: repeating-linear-gradient(135deg, var(--spam-bg-color-white) 0px,  var(--spam-bg-color-white) 7.8px, var(--spam-bg-color-blue) 8.1px, var(--spam-bg-color-blue) 16.2px, var(--spam-bg-color-white) 16.2px, var(--spam-bg-color-white) 24.3px, var(--spam-bg-color-red) 24.3px, var(--spam-bg-color-red) 32.4px, var(--spam-bg-color-red) 32.4px) repeat ;
    width:560px;
    height:220px;
    border-radius: 16px;
    padding:0px;
    margin:0px;
}
.spam-wrapper   {
    padding:29px 16px 0px 20px;
    margin:0px;
    box-sizing: border-box;
    background-color: white;
    margin:5px 6px 5px 6px;
    border-radius: 16px;
    width:548px;
    height:210px;
    display: flex;
    flex-wrap: wrap;
}

.spam-name  {
    padding:0px;
    margin:0px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    color: var(--spam-name);
}

                    /*Map*/

.map-img    {
    background: var(--img-bg);
}
.main-map-section  {
    width:1200px;
    height:430px;
    background:url(../img/map/map.png);
    position: relative;
}

.map-position   {
    position: relative;
    top:136px;
    left:270px;
    outline: 3px solid rebeccapurple;
}

.map-contacts-txt,
.map-contacts-order   {
    margin:0px;
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-line;
    /* or 143% */    
    color:var(--basic-black);
    outline: 3px solid fuchsia;
    margin-bottom:29px;
    /* display: flex;
    align-items: center; */
}

.map-contacts-order {
    margin-bottom:31px;
}

.map-contacts-address,
.map-contacts-tel  {
    margin:0px;
    padding: 0px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    color:var(--basic-black);
    /* display: flex;
    align-items: center; */
    text-decoration:none;
    
}

.map-contacts-container {
    position: relative;
    left:870px;
    top:-74px;
    width:303px;
    height:306px;
    background:var(--form-feedback--bg);
    border-radius:16px;
    box-sizing: border-box;
    outline: 2px solid peru;
    padding:32px 25px 31px 25px;
}

                    /*Footer*/

.page-footer    {
    margin:18px auto 0px auto;    
    width:1146px;
    height:103px;
    outline: 3px solid blue;
}

.footer-wrapper    {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}


.footer-social-list {
    outline: 3px solid indianred;
    padding:0px;
    display:flex;
    gap:12px;
    margin:18px 0px 0px 0px;
}

.footer-social-img  {
    width:32px;
    height:32px;
    border:2px solid var(--basic-white);
    border-radius:50%;
    opacity:0.8;
    box-sizing: border-box;
}
.footer-social-img:hover,
.footer-social-img:focus  {
    opacity:1;
}

.footer-docs-list   {
    padding: 0px;
    margin: 18px auto;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    gap:11px 32px;
    justify-content: center;
    outline: 3px solid hotpink;
}

.footer-docs-lnk {
    
    outline: 3px solid forestgreen;
    color:var(--basic-white);
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* or 138% */
    display: flex;
    align-items: center;
}

.supply {
    font-weight: bold;
    position: relative;
}

.footer-docs-heart  {
    position: absolute;
    left:-20px;
    top:3px;
}

.supply:hover .footer-docs-heart,
.supply:focus .footer-docs-heart    {
    fill:var( --link-nobg-hover-press);
}



.footer-made-wrapper    {
    outline: 3px solid navy;
}

.footer-made-name,
.footer-made-lnk{
    color:var(--basic-white);
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    display: flex;
    align-items: center;
}


